*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    width: 700px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section img{
    object-fit: cover;
    width: 0;
    flex-grow: 1;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    filter: contrast(120%);
    opacity: 100;
}